<?xml version="1.0" encoding="UTF-8"?>
<config name="config.xml">
  <phases>
    <phase>
      <phase skip="false" type="python" path="" name="pp" />
      <phase skip="true" type="python" path="" name="scanning" />
      <phase skip="true" type="python" path="" name="parsing" />
      <phase skip="true" type="python" path="" name="semantic" />
      <phase skip="true" type="python" path="" name="icgen" />
      <phase skip="true" type="python" path="" name="optimizing" />
      <phase skip="true" type="python" path="" name="codegen" />
      <phase skip="true" type="java" path="" name="simulating" />
    </phase>
  </phases>
</config>

